---
sitemap: false
---
@import "color";
@import "variables";
@import "typography";
@import "highlighter";
@import "site";

pre.highlight {
  background: #000;
  padding: 1px;
}

code.hljs {
  background: #f5f5f5;
}
