---
layout: default
---
<ul class="posts-list">
    <h3>[{{ page.title }}]</h3>
    {% assign category = page.category | default: page.title %}

    {% for post in site.categories[category] %}
    <div class="list-post">
        {% if post.link %}
        <a href="{{ site.baseurl }}{{ post.url }}">
            {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">
                {% endif %}
                <div class="list-post-date">
                    <time>{{ post.date | date_to_string }}</time>
                </div>
                <div class="list-post-title">
                    {{ post.title }}
                </div>
                {% if post.description %}
                <div class="list-post-desc">
                    {{ post.description }}
                </div>
                {% endif %}
            </a>
    </div>
    {% endfor %}
</ul>